@model String


<div ng-app="adultApp">
    
    <div ng-view></div>
</div>

@Scripts.Render("~/Scripts/angular.min.js")
@Scripts.Render("~/Scripts/angular-route.min.js")
@Scripts.Render("~/Scripts/angular-messages.min.js")
@Scripts.Render("~/Scripts/ng-infinite-scroll.min.js")
@Scripts.Render("~/Scripts/angular-cookies.min.js")
@Scripts.Render("~/Scripts/angular-local-storage.min.js")

@Scripts.Render("~/assets/app/shared/services/navigationServices.js")
@Scripts.Render("~/assets/app/shared/services/pagingServices.js")
@Scripts.Render("~/assets/app/shared/services/categoryServices.js")
@Scripts.Render("~/assets/app/shared/services/pinServices.js")
@Scripts.Render("~/assets/app/shared/constants/constants.js")
@Scripts.Render("~/assets/app/shared/filters/trust-html.js")
@Scripts.Render("~/assets/app/shared/filters/category-filter.js")
@Scripts.Render("~/assets/app/shared/services/videoServices.js")
@Scripts.Render("~/assets/app/shared/directives/shared-directives.js")
@Scripts.Render("~/assets/app/controllers/controllers.js")
@Scripts.Render("~/assets/app/directives/directives.js")
@Scripts.Render("~/assets/app/adultApp.js")

@*<script type="text/javascript">
angular.module('preRender').factory('categoryService', function () {
    var tags: @Html.Raw(@Model);
    return {
        tags : tags
    };
});
</script>*@
